// Custom Variables

$blue:    #03007F;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #800020;
$orange:  #fd7e14;
$yellow:  #D8A320;
$green:   #70A30D;
$teal:    #009797;
$cyan:    #4da8b1;

$secondary: $teal;

$link-decoration: none;

// Accordion
$accordion-icon-color: #fff;
$accordion-icon-active-color: #fff;

// Others
$leftBarWidth: 350px;